<main>
  <form name="myForm">
    <div class="input-group-text mb-3">
      <label for="exampleInputEmail1" class="form-label m-3">Insert Category Title</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" size="10">
    </div>
    <div class="input-group-text mb-3">
      <label for="exampleInputPassword1" class="form-label m-3">Insert Category Image</label>
      <input type="text" class="form-control" id="exampleInputPassword1" lenght="10">
    </div>
    <div class="input-group justify-content-center">
      <button type="button" class="btn btn-outline-secondary">INSERT</button>
    </div>
    <div class="input-group justify-content-center">
      <button type="button" class="btn btn-outline-secondary">UPDATE</button>
    </div>
  </form>
</main>